@font-face {
  font-family: Fira;
  src: url('../libraries/font-awesome/FiraSans-Light.ttf');
}
@font-face {
  font-family: Lato;
  src: url('../libraries/font-awesome/Lato-Light.ttf');
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

a, .pointer {
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* Navigation Bar */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  background: #70beff;
}
.dropwrapper {
  position: absolute;
  top: 0;
  left: 0;
}

/* Grid */
#splitContainer {
  position: absolute;
  top: 46px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

/* Webcam */
.yourcam, .theircam {
  background: #000;
  text-align: center;
}
#yourcam, #theircam {
  height: 100%;
}

/* Textbox/Button Styles */
button, .button {
  border: 0;
  box-sizing: border-box;
  padding: 15px;
  vertical-align: middle;
  line-height: 46px;
  min-height: 40px;
  font-size: 16px;
  margin: 0;
}

.red {
  background: #CC6565;
  color: #fff;
}
.red:hover {
  background: #E28383;
}
.green {
  background: #659459;
  color: #fff;
}
.green:hover {
  background: #86B779;
}

/* Conversation Area */
.conversation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 86px;
  overflow: auto;
}
.msgcontainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 107px;
  height: 80px;
}
.message {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  resize: none;
}
.send {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 15px 30px;
  line-height: 56px;
}
.msgsent {
  padding: 10px;
  margin: 3em;
  /* font-family: "Lato", sans-serif; */
  font-family: "Fira", sans-serif;
  font-size: 16px;
}
.theirmsg {
  background: #E8E8E8;
  color: #000;
  text-align: center;
}
.theirdate {
  color: #8F8F9E;
}
.mymsg {
  background: #0072D0;
  color: #fff;
  text-align: center;
}
.mydate {
  color: #95ABCB;
}
.date {
  font-size: 10px;
  font-family: "Lato", sans-serif;
}

/* Misc */
.fl {
  float: left;
}
.fn {
  float: none;
}
.fr {
  float: right;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.block {
  display: block;
}
.ib {
  display: inline-block;
}
.hide {
  display: none;
}
.lhfix {
  line-height: 16px;
}
